<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Trapdoor {% endblock %}</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/trapdoor.css" rel="stylesheet" media="screen">
        {% block extra_head %} {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                    <a class="navbar-brand" href="/">trapdoor.</a>
                </nav>
            </div>

            <div class="row content">
                {% block content %} {% endblock %}
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/handlebars.runtime.js"></script>

        <script type="text/javascript">
            Handlebars.registerHelper("ifEmpty", function(context, options) {
                if ($.isEmptyObject(context)) {
                    return options.fn(this);
                }
                return options.inverse(this);
            });

            Handlebars.registerHelper('mibFormat', function(name) {

                name = Handlebars.Utils.escapeExpression(name);
                var delim = "::";

                if (name.indexOf(delim) == -1) return name;

                var parts = name.split(delim);
                var module = parts.shift();
                var mibname = parts.join(delim);
                var result = "<small>" + module + "::</small>" + mibname;

                return new Handlebars.SafeString(result);
            });
        </script>

        {% block script %} {% endblock %}
    </body>
</html>

